@model List<Service>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Hizmetlerim Bölümü İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Icon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td>@item.Icon</td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/CreateService/" class="btn btn-info">Yeni Hizmet Girişi</a>
