@model List<Education>
@{
    ViewData["Title"] = "EducationList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitim İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Üniversite</th>
        <th>Bölüm</th>
        <th>Tarih</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EducationId</td>
            <td>@item.University</td>
            <td>@item.Department</td>
            <td>@item.EducationDate</td>
            <td>@item.Title</td>
            <td><a href="/Education/DeleteEducation/@item.EducationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/UpdateEducation/@item.EducationId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Education/CreateEducation/" class="btn btn-info">Yeni Eğitim Bilgisi Girişi</a>

